
<mat-toolbar>
    <mat-toolbar-row style="margin: 0;  padding: 0;">
        <div class="toolbar_items">
            <div class="banner">
                <mat-nav-list>
                    <a mat-list-item routerLink="" class="app_title"> <span class="material-icons">home</span>  &nbsp;  Sarvedyam </a>
                </mat-nav-list>
            </div>
            <div class="action">
                <ng-container >
                    <button mat-raised-button routerLink="/auth/login">Log In </button>
                    <button  mat-stroked-button routerLink="/auth/register" >Register </button>
                </ng-container>
            </div>
        </div>
    </mat-toolbar-row> 
</mat-toolbar>            
<ion-content>
	<ion-router-outlet></ion-router-outlet>
</ion-content>
  