
//colors
$primary-color: #3FC1C9;

$primaryLight-color:#B0EDF4;
$accent-color:#5ee0e7;
$navigationPrimary-color:#3FC1C9;
$light-gray-color: #f7f7f7ce;
$white-color: #f5f8f7f5;
$dark-gray:#f5f5f5;
// $nav-text-color: white
$nav-text-color:white;
// :#339FA6;
$pink-color-1 : #ffb6c1;


