@import "/src/scss/global.scss";


mat-card{
    width: 80%;
    margin-top: 20px;
    position: relative;
    transform: translateX(10%);
    mat-card-header{
        margin-top: 10px;
    }
}

mat-icon{
    margin: 0 5px
}


.summary_container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    background-color: transparent !important;
}

.summary_card{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: burlywood;
    box-shadow: 2px 2px 15px black;
    .label{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .count_number{
        font-size: 30px;
        font-weight: bolder;
    }

    animation: moveUp 1s ;
}

@keyframes moveUp{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $primaryLight-color;
    &__title{
        background-color: $primary-color;
        color: white;
        font-weight: bolder;
        height: 25px;
        text-align: center;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        text-align: center;
        span{
            flex: 3 1 0;
            margin: 0 10px;
            &:first-child{
                flex: 1 1 0;
            }

        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 40%;    
        margin: 5px;
    }
}


@media (max-width: 480px) {
    .summary_card{
        width: 130px;
    }
    .list{
        &__wrapper{
            flex-basis: 100%;
        }
    }
}